.Veggie-Taco-Bowl {
    width: 300px;
    height: 300px;
}

.Harvest-Sweet-Potato {
    width: 300px;
    height: 300px;
}

.Veggie-and-Tofu-Rice-with-Chimichurri {
    width: 300px;
    height: 300px;
}

.Low-Carb-Caulliflower-Pizza {
    width: 300px;
    height: 300px;
}

.Steak-with-Porcinni-Butter {
    width: 300px;
    height: 300px;
}

.Spiced-Chicken-and-Eggplant-Skewers {
    width: 300px;
    height: 300px;
}

.Spinach-Salad {
    width: 300px;
    height: 300px;
}

.Herb-Crusted-Baked-Cod {
    width: 300px;
    height: 300px;
}

.Curried-Chicken-Wrap {
    width: 300px;
    height: 300px;
}

.Paleo-Chicken-Hash {
    width: 300px;
    height: 300px;
}

.Paleo-Meatballs-and-Zoodles {
    width: 300px;
    height: 300px;
}

.Southwest-Paleo-Chicken-and-Fries {
    width: 300px;
    height: 300px;
}

.Mediterranean-Mini-Fritattas {
    width: 300px;
    height: 300px;
}

.Caprese-Avocado-Toast {
    width: 300px;
    height: 300px;
}

.Mediterranen-Strata {
    width: 300px;
    height: 300px;
}

.Chopped-Chilli-Chicken-Stir-Fry {
    width: 300px;
    height: 300px;
}

.Rum-and-Maple-Steak-with-2-Minute-Fries {
    width: 300px;
    height: 300px;
}

.Sumac-Steak {
    width: 300px;
    height: 300px;
}