/* create the nav bar*/
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  padding: 10px 100px;
  box-sizing: border-box;
  transition: 0.3s;
}

section.sec1 {
  width: 100%;
  height: 100vh;
  background: url(https://images.squarespace-cdn.com/content/v1/57879a6cbebafb879f256735/1579721909133-R2KSZ8VGDGBI90DYATBK/header4.jpg);
  background-size: cover;
  background-position: center;
}

.content {
  margin-top: 80px;
}

.content p {
  width: 900px;
  margin: 30px auto;
  text-align: justify;
  font-size: 20px;
  line-height: 30px;
}

nav .logo {
  color: white;
  padding: 20px 20px;
  height: 80px;
  float: left;
  font-size: 50px;
  transition: 0.3s;
}

nav ul {
  list-style: none;
  float: right;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  line-height: 80px;
  color: white;
  padding: 12px 30px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3s;
  font-size: large;
}

nav ul li a:focus {
  outline: none;
}

nav ul li a.active {
  background: #e247;
  color: #fff;
  border-radius: 6px;
}

nav.black {
  background: rgba(253, 252, 252, 0.8);
  height: 100px;
  padding: 10px 100px;
}
nav.black .logo {
  color: rgb(107, 107, 107);
}
nav.black ul li a {
  color: #fff;
}
nav ul li a.active {
  background: #e247;
  color: #fff;
  border-radius: 6px;
}

section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

section {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 0;
}

.container {
  width: 90%;
  height: auto;
  max-width: 1200px;
  margin: 0 auto;
}

.brand {
  text-align: center;
  font-size: 4rem;
  margin-bottom: 30px;
}

form.form2 {
  width: 90%;
  max-width: 400px;
  margin: 20px auto;
  border-radius: 4px;
}

form.form2 input {
  width: 90%;
  background-color: transparent;
  padding: 10px;
  border: none;
  outline: none;
  font-size: 2rem;
  display: inline-block;
}

form.form2 ion-icon {
  width: 9%;
  font-size: 3rem;
  margin: -9px;
  color: gray;
}

.search-result {
  margin-top: 50px;
  width: 100%;
  display: grid;
  grid-gap: 25px;
  grid-template: auto / repeat(auto-fit, minmax(300px, 1fr));
}

.item {
  width: 100%;
  border-radius: 8px;
  background-color: gray;
  padding: 15px;
  overflow: hidden;
}

.item img {
  width: 100%;
  height: 300px;
  border-radius: 4px;
}

.item .flex-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.item .title {
  color: whitesmoke;
  margin: 20px 10px 0 0;
  font-size: 1.8rem;
  font-weight: 400;
}

.view-button {
  text-decoration: none;
  text-align: center;
  width: 130px;
  padding: 10px 0;
  background-color: gray;
  color: white;
  font-size: 1.4rem;
  margin-top: 20px;
  align-self: flex-start;
}

.item-data {
  color: whitesmoke;
  display: block;
  margin-top: 10px;
  font-size: 1.4rem;
  letter-spacing: 0.05rem;
  line-height: 2rem;
}
